@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  --eyeBackground: transparent;
  --eyeBorder: transparent;
  --primary: transparent;
  --secondary: transparent;
  --background: transparent;
  --borderSecondary: transparent;
  --borderPrimary: transparent;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2vw; height: 2vw;
  transform: translate(-50%, -50%);
  fill: white; padding: 0.1vw;
  transform: rotate(-45deg); justify-content: center;
  display: flex; align-items: center;
  background: var(--eyeBackground);
  border: 0.1vw solid var(--eyeBorder);
}

#eye > svg {
  width: 1.5vw; height: 1.5vw;
  transform: rotate(45deg);
}

.eye-hover {
  fill: var(--borderPrimary);
}

#options-wrapper {
  position: absolute; display: none;
  top: calc(50%); border-radius: 0.2vw;
  left: calc(50% + 50pt); padding: 0.2vw;
  background: var(--background);
}

.option-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Nunito";
  background: var(--secondary);
  border: 0.1vw solid var(--borderSecondary);
  border-radius: 0.2vw;
  font-size: 11pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transform-origin: left top;
  scale: 1;
  height: 22pt;
  width: 150pt;
  top: 0;
}

.option-container:hover {
  background: var(--primary);
  border: 0.1vw solid var(--borderPrimary);
  transform-origin: left top;
  color: white;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: var(--borderPrimary);
}

.option-container:hover > .option-icon {
  color: white;
}

.option-label {
  font-weight: 500;
}